<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" href="images/w1.png" type="images/png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
</head>
<body>
    {{>navbar}}
    <div class="mainAbout">

    <div class="aboutMainleft">
        <img src="images/w3.png" alt="">
    </div>
    <div class="aboutMainright">
        <h2 class="abouth2">
            Hey There! This is
        </h2>
        <h1 class="abouth2">
            Ashish
        </h1>
        <p class="aboutP">I am a Node Developer</p>
    </div>

      </div>
    {{>footer}}

</body>
</html>
